<template>
    <div>
        <heading text="Contact Us" center noline large></heading>
    </div>
</template>
<script>
import Heading from '../../components/Heading'
export default {
    created() {
    },
    mounted() {
    },
    components: {
        Heading
    },
    head: {
		title: 'Contact Echwood',
        meta: [
            { name: 'description', content: 'Echwood is ever ready to meet with you. Echwood is pioneering technology and business solutions that impact the everyday life of businesses. We partner with SMEs to develop innovative systems, products and applications that delivers business success with ease and simplicity. We are your technology and business solutions partners. We offer advisory services that drives the market', id: 'desc' }
        ]
	}
}
</script>
<style lang="scss" scoped>

</style>
