<template>
    <div>
        <heading text="Investment" center noline large></heading>
    </div>
</template>
<script>
import Heading from '../../components/Heading'
export default {
    mounted() {
        localStorage.selectedPage = 4
    },
    components: {
        Heading
    },
    head: {
		title: 'Echwood Investments',
        meta: [
            { name: 'description', content: 'Echwood is Investing in & Financing leading and emerging technologies in Sub-Saharan Africa', id: 'desc' }
        ]
	}
}
</script>
<style lang="scss" scoped>

</style>
