<template>
    <div>
        <heading text="Site Map" center noline large></heading>
    </div>
</template>
<script>
import Heading from '../../components/Heading'
export default {
    created() {
    },
    components: {
        Heading
    }
}
</script>
<style lang="scss" scoped>

</style>
