//@font-face {
//	font-family: Metropolis;
//	src: url('/fonts/Metropolis-Regular.otf');
//}
//@font-face {
//	font-family: StRyde;
//	src: url('/fonts/StRyde.otf');
//}
//@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,400i,500,600,700,800');
// @import url('https://fonts.googleapis.com/css?family=Varela+Round');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700');
// Body
$body-bg: #f5f8fa;
$body-bg: #fff;
$white: #fff;
$purple: #380356;
$purple: #1A69A4;
@function purple-rgba($value) {
	@return rgba(26, 105, 164, $value);
}
// $purple-light: rgba(71, 14, 19, 0.02);
$purple-light: rgba(56, 3, 86, 0.02);
$purple-light: rgba(26, 105, 164, 0.03);
$gold: #FFA500;
@function gold-rgba($value) {
	@return rgba(255, 165, 0, $value);
}
$light-purple: #D8BFD8;
$light-purple: #f8fafc;
$blue: #25b8ff;
$light-blue: #d8f1ee;
$red: #db2828;
// Typography
$font-family: 'Roboto Slab', 'Varela Round', Montserrat, Metropolis;
$font-size-base: 0.90rem;
$line-height-base: 1.6;

$primary-blue: rgb(00, 139, 214);
$primary-green: #21ba45;
$primary-white: #fefefe;
$primary-black: #222;
$primary-yellow: #fc9b00;
$primary-teal: #218791;
$primary-red: #f04e51;
