// Fonts
// @import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
// Variables
@import "variables";
body {
    // background-image: url('/images/front-bg.png');
    // background-repeat: no-repeat;
    // background-size: 90% 50%;
    // background-position: 50% 0;
    background-color: $body-bg;
}

*,
body,
h1,
h2,
h3,
h4,
h5,
h6,
button,
p,
textarea {
    font-family: $font-family;
}

.left-text {
    text-align: left;
}

.center-text {
    text-align: center;
}

.right-text {
    text-align: right;
}

button,
.uk-button {
    border-radius: 2em;
}

.error,
div#App-Contact-Form .error {
    border-color: $red;
    color: $red;
}

.ui.button {
    font-family: $font-family;
}

.mobile-aims {
    background-color: #f5f5f5;
    display: none;
}

.animated.slow {
    animation-duration: 1.5s;
}

#about {
    padding-top: 1rem;
    h3 {
        width: 80%;
        margin: auto;
        padding: 2rem;
    }
    #App-Arms {
        background-color: #f9f9f9;
    }
}

#privacy-statement,
#contact-us {
    background-color: #fff;
    padding: 0.3rem .8rem;
    margin: 3em 0;
    color: #777;
    h3 {
        margin-top: 1rem;
        opacity: 0.7;
        font-size: 20px;
        font-weight: 500;
    }
    p {
        line-height: 1.7;
        text-align: justify;
    }
}

#privacy-statement {
    font-weight: 400;
    > p {
        font-size: 14px;
    }
    >div {
        margin: 0 0 1.3rem;
        background-color: $purple-light;
        h3 {
            // background-color: #F7F7F7;
            border-radius: .2rem .2rem 0 0;
            padding: .8rem;
            margin: 0;
            color: $gold;
            font-weight: 600;
            font-size: 17px;
            text-transform: uppercase;
        }
        p,
        ul {
            // background-color: #F7F7F7;
            border-radius: 0 0 .2rem .2rem;
            padding: 0 .8rem .8rem;
            margin: 0;
            list-style: none;
            font-size: 14px;
        }
    }
}

#contact-us {
    min-width: 100%;
    .social {
        margin: .3rem 0;
        padding: .3rem 0;
        border-bottom: 2px solid #e0e0e0;
        opacity: .8;
    }
}

input {
    border-color: #a9d5de;
}

#error-404 {
    >div {
        position: absolute;
        width: 90%;
        height: 70%;
        margin: auto;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        h1 {
            font-size: 17rem;
            color: $primary-red;
            margin: 0;
            padding: 0;
        }
        h4 {
            margin: 0;
            padding: 0;
            color: #888;
            font-weight: 700;
        }
        section {
            padding: 1rem;
            width: 70%;
            margin: auto;
        }
        h6 {
            background-color: #F0F0F0;
            padding: .5rem;
            border-radius: 2em;
            opacity: .7;
            width: 30%;
            margin: auto;
        }
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            li {
                display: inline;
                a {
                    display: inline-block;
                    padding: .7rem;
                    text-transform: uppercase;
                    font-size: 13px;
                }
            }
        }
    }
}

a {
    &:hover {
        text-decoration: none;
    }
}

@media screen and (min-width: 320px) and (max-width: 475px) {
    .mobile-aims {
        display: block;
    }
    #privacy-statement,
    #contact-us {
        width: 100%;
        margin: .5rem auto;
    }
    #contact-us {
        padding: .7rem;
    }
}