<template>
	<div id="App-About" class="animated slideInDown">
		<div class="small-12 medium-6 large-6 column" data-src="/img/meeting.jpg" uk-img>
		</div>
		<div class="small-12 medium-6 large-6 column">
			<!-- <h1 v-center>About Echwood</h1> -->
			<div>
				<div v-center><span uk-icon="icon: quote-right; ratio: 1.8;"></span></div>
				<h4 v-center>
					Echwood is pioneering technology solutions that impact the everyday life of businesses. We partner with SMEs to develop innovative systems, products and applications that delivers business success with ease and simplicity. We are your technology solutions partners.
				</h4>
				<div v-center><span uk-icon="icon: quote-right; ratio: 1.8"></span></div>
			</div>
		</div>
	</div>
</template>
<script>
	export default {
		name: 'about'
	}
</script>
<style lang="scss" scoped>
    @import '../assets/scss/variables';
	div#App-About {
		height: 70vh;
		> div {
			// width: 60%;
			margin: auto;
			i {
				font-size: 70px;
			}
			&:first-child {
				filter: grayscale(1);
				height: 70vh;
				background-size: cover;
			}
			&:last-child {
				background-color: $gold;
				height: 100%;
				display: flex;
				align-items: center;
				justify-content: center;
				box-shadow: inset 0 0 10px rgba(0,0,0,.28);
			}
		}
		h1 {
			color: #333;
			font-size: 22px;
			margin: 0;
			letter-spacing: 1.5px;
			font-weight: 200;
			text-transform: uppercase;
		}
		h4 {
			padding: 1rem;
			font-size: 1.6rem;
			font-weight: 200;
			color: $white;
/*            text-shadow: 0 2px .3rem #333;*/
			line-height: 1.7;
			width: 95%;
			margin: auto;
		}
	}
	@media screen and (min-width: 320px) and (max-width: 679px) {
		div#App-About {
			> div {
				width: 100%;
				> div {
					i {
						font-size: 40px;
					}
				}
			}
			h4 {
				font-size: 1.2rem;
				padding: .5rem;
			}
		}
	}
</style>
