<template>
	<div id="App-Arms">
		<div class="row">
			<div class="small-12 medium-6 large-4 column arm"
				v-for="arm in arms"
				:key="arm.title">
				<div class="small-2 medium-2 large-3 column icon">
					<span :uk-icon="`icon: ${arm.icon}; ratio: 1`"></span>
				</div>
				<div class="small-10 medium-10 large-10 column details">
					<h1>{{ arm.title }}</h1>
					<div>{{ arm.desc }}</div>
				</div>
			</div>
		</div>
	</div>
</template>
<script>
	export default {
		name: 'arms',
		data() {
			return {
				arms: [
					{
						icon: 'credit-card',
						title: 'Investment',
						desc: 'Investing & Financing of leading and emerging technologies in Sub-Saharan Africa'
					},
					{
						icon: 'future',
						title: 'Technology',
						desc: 'We create technology driven solutions to catalyse society\'s development'
					},
					{
						icon: 'users',
						title: 'Consulting',
						desc: 'We provide technology advisory that cuts across mobile, enterprise applications, ecommerce and smart data'
					}
				]
			}
		}
	}
</script>
<style lang="scss" scoped>
    @import '../assets/scss/variables';
	div#App-Arms {
		background-color: $purple-light;
		padding: 4em 2em;
		.row {
			min-width: 100%;
		}
		.icon {
			color: purple-rgba(0.9);
		}
		h1 {
			text-transform: uppercase;
			font-size: 16px;
			letter-spacing: 1.5px;
			margin: 0;
			padding: 0;
			color: purple-rgba(0.9);
			font-weight: 700;
			line-height: 1.8;
		}
		.details {
			padding-left: 2em;
			> div {
				font-size: 13px;
				color: #777;
				line-height: 1.8;
			}
		}
	}
	@media screen and (min-width: 320px) and (max-width: 475px) {
		div#App-Arms {
		}
	}
</style>
