<template>
    <div id="App-Carousel">
        <div
             class=" mobile-slide uk-position-relative uk-visible-toggle uk-light"
             uk-slideshow="autoplay: true;ratio: 8:3; animation: scale">
<!--            <div class="overlay"></div>-->
            <ul class="uk-slideshow-items">
                <li v-for="image in images" :key="image.title">
                    <img :src="image.image" :alt="image.title" uk-cover>
                    <div class="uk-position-cover uk-overlay uk-overlay-default uk-flex uk-flex-center uk-flex-middle"></div>
                    <div class="uk-position-center uk-position-small uk-text-center message">
                        <h2 class="uk-margin-remove mobile-text">{{image.textHeader}}</h2>
                        <p class="uk-margin-remove mobile-text">
                            Providing innovative solutions that grow your business
                        </p>
                        <div>
                            <router-link 
                                to="/about"
                                class="uk-button button-pc uk-button-secondary uk-button-large mobile-text">
                                LEARN MORE
                            </router-link>

                            <a
                                href="/about"
                                class="uk-button uk-button-small button-mobile mobile-text">
                                LEARN MORE
                            </a>
                        </div>
                    </div>
                </li>
            </ul>
            <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slideshow-item="previous"></a>
            <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slideshow-item="next"></a>
        </div>
    </div>
</template>
<script>
    export default {
        name: 'carousel',
        data() {
            return {
                images: [
                    { image: 'img/slide/code.jpg', title: 'Investment', desc: '', textHeader: 'INNOVATION IS OUR FORTE' },
                    { image: 'img/slide/laptop.jpg', title: 'Laptop', desc: '', textHeader: 'INNOVATION IS OUR FORTE' },
                    // { image: 'technology.jpg', title: 'Technology', desc: '' },
                    { image: 'img/slide/meeting.jpg', title: 'Advisory', desc: '', textHeader: 'IT AND BUSINESS SOLUTIONS PROVIDER' },
                ]
            }
        }
    }
</script>
<style lang="scss" scoped>
    @import '../assets/scss/variables';
    div#App-Carousel {
        position: relative;
        .uk-overlay-default {
            background-color: purple-rgba(0.15);
        }
        a {
            z-index: 10000;
        }
        div.message {
            h2 {
                font-size: 40px;
                font-weight: 700;
                letter-spacing: 0.7px;
                text-shadow: 0 0 .2rem #000;
                color: $gold;
            }
            p {
                font-size: 18px;
                color: #FFF;
                font-weight: 500;
                text-shadow: 0 0 5px #111;
                letter-spacing: 0.7px;
            }
            div {
                margin-top: 1rem;
            }

            a {
                background-color: #222;
                color: #FFF;
            }
            .button-mobile {
                display: none;
            }

            .button-pc {
                display: inline-block;

            }
            @media screen and (min-width: 320px) and (max-width: 679px) {
                .mobile-text {
                    font-size: 80%;
                }

                .button-pc {
                    display: none;
                }

                .button-mobile {
                    display: inline-block;                    
                }

            }
        }
}
</style>
