<template>
	<div id="App-Contact-Form">
		<div class="form-input mdi" icon="">
			<input type="text"
				placeholder="Your Name"
				class="uk-input uk-input-small"
				name = "name"
				v-model.trim="name" :class="{ error: !nameValid && name !== '' }"
				v-type:name="nameValid"/>
		</div>
		<div class="form-input mdi" icon="">
			<input type="text"
				placeholder="Your Email Address"
				class="uk-input uk-input-small"
				name = "email_address"
				:class="{ error: !emailValid && email !== '' }"
				v-model.trim="email"
				v-type:email="emailValid" />
		</div>
		<div class="form-input mdi" icon="">
			<input type="text"
				:class="{ error: !phoneValid && mobile !== '' }"
				placeholder="Your Mobile Number"
				class="uk-input uk-input-small"
				name = "mobile_number"
				v-model.trim="mobile"
				v-type:phone="phoneValid"/>
		</div>
		<div>
			<textarea
				v-model.trim="message"
				name = "message"
				placeholder="Your Message"
				rows="7">
			</textarea>
		</div>
		<div class="right-text">
			<button type="submit" class="ui inverted orange button" :disabled="!formFilled">
				Proceed
			</button>
		</div>
	</div>
</template>
<script>
	export default {
		name: 'contact-form',
		data () {
			return {
				name: '',
				email: '',
				mobile: '',
				message: '',
				nameValid: false,
				emailValid: false,
				phoneValid: false
			}
		},
		computed: {
			formFilled () {
				return this.nameValid && this.emailValid && this.phoneValid && this.message.length > 0
			}
		}
	}
</script>
<style lang="scss" scoped>
	@import '../assets/sass/variables';
	div#App-Contact-Form {
		.form-input {
			position: relative;
		}
		.form-input::after {
			position: absolute;
			content: attr(icon);
			right: 1.5%;
			top: 20%;
			font: 20px "Material Design Icons";
			color: purple-rgba(0.4);
		}
		input, textarea {
			// background-color: $purple-light;
			// border-radius: .3rem;
			// padding: 1.3rem .5rem;
			// border: 0.5px solid purple-rgba(0.4);
			// box-shadow: none;
			// color: $purple;
			// font-weight: 500;
			box-shadow: none;
			font-size: 14px;
			border-width: 2px;
			color: $purple;
			border-radius: .3rem;
			margin-bottom: .25em;
			// &:focus {
			// 	border-color: purple-rgba(0.7);
			// }
			&.error {
			    border-color: $red;
			    color: $red;
			}
		}
		> div:last-child {
			margin: 1rem auto;
		}
	}
	::placeholder {
		color: $purple;
		opacity: 0.3;
	}
	@media screen and (min-width: 320px) and (max-width: 475px) {
		div#App-Contact-Form {
			.form-input::after {
				right: 4%;
			}
		}
	}
</style>