<template>
	<div id="App-Footer" class="animated slideInUp">
		<div class="row sm">
            <div class="small-12 medium-4 large-4 column">
                <h5>QUICK LINKS</h5>
                <ul>
                    <nav>
                    
                        <li v-for="link in quickLinks" :key="link">
                            <router-link v-if="link.type !=='out'" :to="link.link" class="uk-button-text">{{ link.label }}</router-link>
                        <a v-else :href="link.link" class="uk-button-text">
                            {{ link.label }}
                        </a>
                        </li>                  
                    </nav>
                </ul>
            </div>
            <div class="small-12 medium-4 large-4 column">
                <h5>LOCATE</h5>
                <p>
                    30, Igbasan Street, Opebi, Ikeja,
                    <p>Lagos State, Nigeria.</p>
                </p>
                <p id="social">
                    <a
                       :href="link.link" v-for="link in socialLinks" :key="link.icon"
                       class="uk-icon-button uk-margin-small-right" :uk-icon="link.icon"></a>
                </p>
            </div>
            <div class="small-12 medium-4 large-4 column">
                <h5>NEWSLETTER</h5>
                <p>
                    Wish to subscribe to receiving newsletters from us?
                    Kindly fill the form below
                </p>
                <div id="form">
                    <div>
                        <input type="text" class="uk-input uk-input-small" placeholder="Your Full Name"/>
                    </div>
                    <div>
                        <input type="email" class="uk-input uk-input-small" placeholder="Your Email Address"/>
                    </div>
                    <div v-right>
                        <button class="uk-button uk-button-secondary uk-width-1-1">
                            SUBSCRIBE
                        </button>
                    </div>
                </div>
            </div>
		</div>
        <hr/>
		<div class="copyright">
			<div class="row">
				<div class="small-12 medium-7 large-7 column">
					Copyright &copy; Echwood {{ new Date().getFullYear() }}. All Rights Reserved.
				</div>
				<div class="small-12 medium-5 large-5 column right-links" v-right>
					<span>
						<router-link tag="li" :to="`/${link.toLowerCase()}`" v-for="link in links" :key="link">
							<a class="uk-button-text">{{ link | upper }}</a>
						</router-link>
					</span>
					<img src="/img/nigerian-flag.png" width="20px" height="23px" />
					Nigeria
				</div>
			</div>
		</div>
        <a class="to-top" uk-totop></a>
	</div>
</template>
<script>
	export default {
		name: 'app-footer',
		data() {
			return {
                links: [
                    'Privacy', 'Legal', 'Site Map', 'Contact'
                ],
                quickLinks: [
                    { label: 'About', link: '/about' },
                    { label: 'Alpha Inventory', link: '/products/alpha-inventory' },
                    { label: 'School ERP Solution', link: '/products/serps' },
                    { label: 'Contact', link: '/contact' },
                    { label: 'Developers', link: 'https://developers.echwood.com', type: 'out' },
                    { label: 'Career', link: 'https://developers.echwood.com', type: 'out' }
                ],
                socialLinks: [
                    { icon: 'facebook', label: 'echwood', link: 'https://fb.me/echwoodlimited' },
                    { icon: 'twitter', label: '@echwood', link: 'https://twitter.com/@echwood' },
                    { icon: 'google-plus', label: 'echwood', link: 'https://youtube.com/echwood' },
                    { icon: 'linkedin', label: 'echwood', link: 'https://instagram.com/echwood' },
                ]
			}
		}
	}
</script>
<style lang="scss" scoped>
    @import '../assets/scss/variables';
	div#App-Footer {
        margin-top: 0;
		background-color: #f7fafc;
		color: $purple;
        > div {
            width: 80%;
            margin: auto;
            padding-top: 1em;
            h5 {
                margin: 0;
                padding: .3em 0;
                font-weight: 600;
                font-size: 13px;
                letter-spacing: 1.6px;
                color: gold-rgba(0.8);
            }
            ul {
                margin: 0;
                padding: 0;
                list-style: none;
                li {
                    padding: 0 0 .3em;
                    a {
                        color: #333;
                        font-size: 12px;
                        font-weight: 400;
                    }
                }
            }
            p {
                font-size: 12px;
                margin: 0;
                padding: 0;
                letter-spacing: 0.5px;
                color: #333;
                font-weight: 400;
            }
            #social {
                margin: 1em 0;
                padding: 0;
                .uk-icon-button {
                    background-color: #ebebeb;
                    transition: all 0.25s linear 0s;
                    &:hover {
                        background-color: #dfdfdf;
                    }
                    &:active {
                        transform: scale(0.8);
                    }
                }
            }
            #form {
                margin-top: .5em;
                input {
                    box-shadow: none;
                    font-size: 13px;
                    border-width: 2px;
                    color: $purple;
                    border-radius: .3rem;
                    margin-bottom: .25em;
                }
                button {
                    border-radius: .3rem;
                }
            }
        }
        hr {
            height: 1px;
            background-color: $purple;
            opacity: 0.1;
            width: 78%;
            margin: 1em auto 0;
            border: 0;
        }
        .copyright {
            padding: .7em 0 2.5em;
            font-size: 12px;
            letter-spacing: 0.5px;
            text-shadow: 0 0 .3rem $purple-light;
            div {
                color: purple-rgba(0.7);
            }
            li {
                display: inline;
                list-style: none;
                padding: 0 .7em;
            }
            a {
                color: #999;
                &:hover {
                    color: #333;
                }
            }
        }
        a.to-top {
            position: fixed;
            bottom: 2%;
            left: 2%;
        }
	}
	@media screen and (min-width: 320px) and (max-width: 679px) {
		div#App-Footer {
		}
	}
	@media screen and (min-width: 476px) and (max-width: 679px) {
		div#App-Footer {
		}
	}
</style>
