<template>
	<h3 id="App-Heading"
		:style="`color: ${color}`"
		:class="{ 'center-text middle': center, line: !noline, large, bold }">
		{{ text }}
	</h3>
</template>
<script>
	export default {
		name: 'heading',
		props: {
			text: {
				type: String,
				required: true
			},
			color: {
				type: String,
				default: ''
			},
			bold: {
				type: Boolean,
				default: false
			},
			center: {
				type: Boolean,
				default: false
			},
			noline: {
				type: Boolean,
				default: false
			},
			large: {
				type: Boolean,
				default: false
			}
		}
	}
</script>
<style lang="scss" scoped>
	@import '../assets/scss/variables';
	h3#App-Heading {
        margin: 1em auto;
		padding: .5rem 0;
		position: relative;
		color: #BBB;
		font-weight: 100;
		&.line {
			border-bottom: 1px solid #a9d5de;
		}
		&.bold {
			font-weight: 700;
		}
		&.line::after {
			content: '';
			width: 5em;
			height: 5px;
			background-color: #a9d5de;
			position: absolute;
			right: 0;
			top: 90%;
		}
		&.large {
			font-size: 37px;
		}
		&.middle {
			width: 40%;
/*			margin: 0 auto;*/
			&.line::before {
				content: '';
				width: 5em;
				height: 5px;
				background-color: #a9d5de;
				position: absolute;
				left: 0;
				top: 90%;
			}
		}
	}

	@media screen and (min-width: 320px) and (max-width: 679px) {
		h3#App-Heading {
			&.large {
				font-size: 20px;
			}
			&.middle {
				width: 90%;
				margin-bottom: 0.3rem;
			}
		}
	}
</style>
