<template>
	<div id="App-Header" class="animated fadeIn" :class="{ topbaronly }">
		<div>
			<topbar :selected="selected"></topbar>
            <!-- <carousel></carousel> -->
<!--
			<div class="about center-text" v-if="!topbaronly">
				<div>
					<h2>Innovation is what we do best</h2>
					Our purpose is to provide society with solutions to important problems using technology that will power societal development
					<div>
						<a class="ui large right icon button orange" href="/about">
							LEARN MORE
							<icon name="chevron-double-right" className="right"></icon>
						</a>
					</div>
				</div>
			</div>
-->
		</div>
	</div>
</template>
<script>
	export default {
		props: {
			topbaronly: {
				type: Boolean,
				default: false
			},
			selected: {
				type: Number,
				required: false
			}
		}
	}
</script>
<style lang="scss" scoped>
	@import '../assets/sass/variables';
	div#App-Header {
		height: 85vh;
		z-index: 555;
		// background: url('/images/blue-grad.jpg') no-repeat;
		// background-position: 90% 50%;
		// background-attachment: fixed;
/*		background-color: $body-bg;*/
		position: relative;
		border-bottom: 2px solid #f0f0f0;
		box-shadow: inset 0 0 1rem #333;
		box-shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28);
		&.topbaronly {
			height: auto;
		}
		> div {
			// background: rgba(0, 0, 0, 0.6);
/*			background: $blue;*/
/*			background: linear-gradient(to bottom right, $blue / 1.1 , $blue + 30);*/
			// background: transparentize($blue, 0.5);
			height: 100%;
		}
		.about {
			color: $white;
			font-size: 1.3rem;
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			width: 60%;
			height: 30%;
			margin: auto;
			// margin: 9rem auto 2rem;
			line-height: 1.4;
			> div {
				text-shadow: 0 0 2rem #222;
				> h2 {
					text-transform: uppercase;
					margin: 0;
					font-size: 2.5rem;
				}
				> div {
					margin-top: 1rem;
				}
			}
		}
	}
	@media screen and (min-width: 320px) and (max-width: 475px) {
		div#App-Header {
			height: 45vh;
			background-attachment: fixed;
			background-position: 50% 0;
			border-bottom-width: 3px;
			&.topbaronly {
				height: 8vh;
			}
			.about {
				font-size: 1rem;
				width: 90%;
				> div {
					// margin: 2.5rem auto 1rem;
					line-height: 1.3;
					> h2 {
						font-size: 1.2rem;
					}
					> div {
					}
				}
			}
			.ui.large.button {
				font-size: 13px;
				padding: .7rem;
				margin: 0;
			}
			#App-Arms {
				display: none;
			}
		}
	}
	@media screen and (min-width: 476px) and (max-width: 679px) {
		div#App-Header {
			height: 60vh;
			.about {
				width: 93%;
				> div {
					> h2 {
						font-size: 2rem;
					}
				}
			}
		}
	}

	@media screen and (min-width: 1091px) {
		div#App-Header {
			> div {
				margin: auto;
			}
		}
	}
</style>
