<template>
    <span :style="`color: ${color}`" :uk-icon="`icon: ${name}; ratio: ${size}`"></span>
</template>
<script>
    export default {
        name: 'icon',
        props: {
            name: {
                type: String,
                required: true
            },
            size: {
                type: Number,
                default: 18
            },
            className: {
                type: String,
                default: ''
            },
            color: {
                type: String,
                default: 'inherit'
            }
        }
    }
</script>
<style lang="scss" scoped>
    i {
        // vertical-align: middle;
    }
</style>


