<template>
    <iframe 
        :src="src"
        allowfullscreen>
    </iframe>
</template>
<script>
    export default {
        name: 'app-map',
        data: () => {
            return {
                src: "//www.google.com/maps/embed/v1/place?q=26+Igbasan+St%2C+Opebi%2C+Ikeja%2C+Nigeria&zoom=17&key=AIzaSyCnNrm5Og1NBSjJp2Vrqqj3ElgS0ZJc-Lk"
            }
        }
    }
</script>
<style lang="scss" scoped>
    @import '../../sass/variables';
    iframe {
        border: 3px solid $white;
        width: 100%;
        height: 19rem;
        margin: .7rem 0 0;
        box-shadow: 0 0 .1rem #999;
    }
</style>
