<template>
	<div id="App-Error" :class="type">
		<icon :name="icons[type]"></icon>
		{{ value }}
	</div>
</template>
<script>
	import { indexOf } from 'lodash';
	export default {
		name: 'message',
		props: {
			type: {
				type: String,
				default: 'info',
				validator: value => indexOf([
						'info', 'warning', 'error', 'success'
					], value.toLowerCase()) !== -1
			},
			value: {
				type: String,
				required: true
			}
		},
		data () {
			return {
				icons: {
					'info': 	'information',
					'warning': 	'alert-circle',
					'error': 	'alert-decagram',
					'success': 	'check-circle', 
				}
			}
		}
	}
</script>
<style lang="scss" scoped>
	@import '../../sass/variables';
	div#App-Error {
		margin: 1rem 0;
		padding: 1rem;
		color: $primary-white;
		text-shadow: 0 0 .5rem #222;
		// border-radius: .3rem;
		font-weight: 700;
		&.info {
			background-color: $blue;
		}
		&.warning {
			background-color: $primary-yellow;
		}
		&.error {
			background-color: $primary-red;
		}
		&.success {
			background-color: $primary-green;
		}
	}
</style>