<template>
  <div id="App-Privacy-Bar">
    
  </div>
</template>
<script>
  export default {
    name: 'privacy-bar',
    data () {
      return {}
    }
  }
</script>
<style lang="scss" scoped></style>
