<template>
  <div id="App-Products" class="animated slideInUp">
      <heading text="Our Solutions" center large noline></heading>
      <div class="row">
            <div
                class="small-12 medium-6 large-3 columns product"
                v-for="product in products"
                :key="product.name">
                <div class="uk-card uk-card-default">
                    <div class="uk-card-media-top">
                        <img :src="product.icon" alt="">
                    </div>
                    <div class="uk-card-body">
                        <h3 class="uk-card-title">{{ product.name }}</h3>
                        <p>
                            {{ product.description }}
                        </p>
                        <div class="actions" @Click="scroller" v-center>
                            <router-link :to="product.link" class="uk-button uk-button-secondary uk-button-small">
                                VIEW
                            </router-link>
                        </div>
                    </div>
                </div>
            </div>
      </div>
      <div class="row all-products" v-right>
          <router-link to="#" class="uk-button uk-button-text">
                VIEW ALL SOLUTIONS
          </router-link>
      </div>
  </div>
</template>
<script>
    import Heading from './Heading.vue'
    export default {
        name: 'products',
        data() {
            return {
                products: [
                    {
                        name: 'α-Inventory',
                        icon: '/img/shopping.jpg',
                        description: '𝝰-Inventory Management System (AIMS) offers the best solution to inventory management.  Organizations and businesses perform better with strong inventory optimization capability and better analytics with real time data to support decision making. 𝝰 is the lifeblood that your business needs to drive its supply chain.',
                        link: '/products/alpha_inventory' },
                    {
                        name: 'MOVE-A-LOT',
                        icon: '/img/haul.jpg',
                        description: 'Our commitment to making life easier led us to develop MOVE-A-LOT. This solution makes it easier for you to move things regardless of size, type and mass from one place to another just with a single click.',
                        link: '/products/mov-a-lot' },
                    {
                        name: 'SERPS',
                        icon: '/img/classroom.jpg',
                        description: 'School Enterprise Resource Planning solution (SERPS) provides school systems with tools that ensure efficient time and resource management. Administrators, educators and parents have access and resource to focus on what matters.',
                        link: '/products/serps' },
                    {
                        name: 'ARRMS',
                        icon: 'https://www.karikabd.com/wp-content/uploads/2017/06/X3A6791.jpg',
                        description: 'Alpha restaurant reservation management system (ARRMS) is an innovative breakthrough in restaurant management that is centered around efficient reservation management, table assignment and client management regardless of the type and size of restaurant.',
                        link: '/products/arrms' },
                ]
            }
        },
        components: {
            Heading
        }
    }
</script>
<style lang="scss" scoped>
    @import '../assets/scss/variables';
    div#App-Products {
        // padding-top: 4em;
        .product {
            .uk-card {
                border-radius: 1rem;
                position: relative;
                box-shadow: none;
            }
            .uk-card-body {
                padding: 25px;
                min-height: 23em;
                background-color: $purple-light / 1.2;
                border-radius: 0 0 1rem 1rem;
            }
            h3 {
                color: $gold;
                font-weight: 400;
            }
            p {
                font-size: 13px;
                margin-top: 10px;
/*                text-align: justify;*/
            }
            .uk-card-media-top img {
                border-radius: 1rem 1rem 0 0;
            }
            div.actions {
                position: absolute;
                bottom: 1em;
                left: 0;
                right: 0;
                a.uk-button {
                    font-size: 13px;
                }
            }
        }
        > .all-products {
            padding: 1em 0;
            a {
                // margin: 0;
                // padding: 0;
                margin-right: 0.7rem;
                font-weight: 700;
                font-size: 14px;
                border-radius: .3rem;
                letter-spacing: 1.4px;
                color: purple-rgba(0.5);
                &::before {
                    border-color: purple-rgba(0.5);
                }
                &:hover {
                    color: purple-rgba(0.7);
                    &::before {
                        border-color: purple-rgba(0.7);
                    }
                }
            }
        }
    }

	@media screen and (min-width: 320px) and (max-width: 679px) {
        div#App-Products {
        }
	}
</style>
