<template>
    <div id="App-Specialization">
        <div class="row">
            <h5 v-center>WE ARE</h5>
            <heading text="IT and business solutions specialists" large noline v-center></heading>
            <div
                 class="row"
                 v-for="specialization in specializations"
                 :key="specialization.name">
                <section id="circle" class="icon-box">
                    <div  :uk-icon="`icon:${specialization.icon}; ratio:2`"></div>
                </section>
                <h2>{{ specialization.name }}</h2>
                <h4>{{ specialization.desc }}</h4>
                <div class="row features" v-if="specialization.hasFeatures">
                    <div
                        class="small-12 medium-3 large-3 column"
                        v-for="feature in specialization.features" 
                        :key="feature.name">
                        <div class="uk-card uk-card-default uk-card-body">
                            <h3 class="uk-card-title">
                                {{ feature.name }}
                            </h3>
                            <p>
                                {{ feature.desc }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import Heading from './Heading.vue'
    export default {
        components: {
            Heading
        },
        data() {
            return {
                specializations: [
                    {
                        name: 'Business Software',
                        icon: 'desktop',
                        desc: 'We create ever helping business solution',
                        features: [
                            {
                                name: 'Cross-platform compatibility',
                                desc: 'Applications are compatible across devices and browser platforms' },
                            {
                                name: 'Multi-user enabled',
                                desc: 'License for many users is enabled on per software basis' },
                            {
                                name: 'Cloud-based system',
                                desc: 'Information is synchronized in the cloud and is readily available from any device' },
                            {
                                name: 'Mobile integration',
                                desc: 'Applications are available on Android and iOS' }
                        ],
                        hasFeatures: true
                    },
                    {
                        name: 'Bespoke Software',
                        icon: 'settings',
                        desc: 'Our IT specialists are available to meet any of your software application needs. Our team of experts will work with you on your IT and business needs to meticulously create bespoke solutions tailored to your specific requirements',
                        features: [
                            {
                                name: 'suspendisse consectetur',
                                desc: 'Venenatis lectus magna fringilla urna porttitor rhoncus dolor purus' },
                            {
                                name: 'pellentesque diam volutpat',
                                desc: 'Mattis rhoncus urna neque viverra justo nec ultrices dui sapien' },
                            {
                                name: 'ridiculus mus interdum',
                                desc: 'Convallis tellus id interdum velit laoreet id' },
                            {
                                name: 'proin libero nunc',
                                desc: 'Amet luctus venenatis lectus magna fringilla urna porttitor' }
                        ],
                        hasFeatures: false
                    }
                ]
            }
        }
    }
</script>
<style lang="scss" scoped>
    @import "../assets/scss/variables";
    @media screen and (max-width: 679px) {
        div#App-Specialization{
                    > .row {
                        > div {
                            section {
                                right: 89%;
                            } 
                        }
                        
                    }


                }
    }

@media screen and (min-width: 679px) and (max-width: 720px) {
        div#App-Specialization{
            > .row {
                > div {
                    section {
                    position: absolute;
                    top: 5%;
                    right: 93%;
                    margin: auto;
                    border-radius: 4em;
                    width: 5em;
                    height: 5em;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 2em;
                    background-color: $gold;
                    color: $white;
                    } 
                }
                
            }


        }


        
    }

        #circle {
            right: 96.5%;
                   
                }

    div#App-Specialization {
        width: 85%;
        margin: auto;
        > .row {
            padding: 4em 0;
            h1, h2, h3, h4, h5, h6 {
                margin: 0;
                padding: 0;
            }
            > h5 {
                font-weight: 600;
                color: $gold;
            }
            > div {
                border-left: 2.5px solid $gold;
                padding: 6.5em 4em 2em;
                position: relative;
                h2 {
                    text-transform: uppercase;
                    font-size: 23px;
                    letter-spacing: 0.8px;
                    font-weight: 600;
                    color: $purple;
                }
                h4 {
                    font-size: 16px;
                    color: #888;
                    line-height: 1.8;
                }
                section {
                    position: absolute;
                    top: 5%;
                    margin: auto;
                    border-radius: 4em;
                    width: 5em;
                    height: 5em;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 2em;
                    background-color: $gold;
                    color: $white;
                }
                h6 {
                    font-size: 13px;
                }
            }
        }
        .features {
            margin-top: 1em;
            > div {
                .uk-card {
                    min-height: 16em;
                    h3 {
                        color: $gold;
                        font-size: 15px;
                        text-transform: uppercase;
                        letter-spacing: 0.8px;
                        font-weight: 500;
                    }
                    p {
                        font-size: 13px;
                    }
                }
            }
        }
    }
    
</style>
