<template>
	<div id="App-Stand" class="row">
		<div class=" pc small-12 medium-5 large-3 column">
			<h1>WHAT WE</h1>
			<h1>STAND</h1>
			<h1>FOR</h1>
			<!-- <svg height="270px" width="110px">
  				<path d="M0 0 L110 135 L0 270 Z" style="fill: #470e13"/>
			</svg> -->
		</div>
		<div class="pc small-12 medium-7 large-9 column">
			<div class="quote" v-center >
				<span uk-icon="icon: quote-right; ratio: 2"></span>
			</div>
			<p>
				At Echwood, we partner with you to provide the right software solution and expert advisory
				that maximizes the growth of your business.
				Echwood is pioneering technology driven solutions that impact day to day business operations.
				We partner with business and institutions to develop innovative systems, products and applications that
				deliver business success with ease and simplicity.
			</p>
			<!-- At Echwood, we focus on <strong>innovation</strong> and <strong>collaboration</strong>.
			We provide business and technology driven solutions that drive business growth and redefines society.-->
			<h3>
				We make you smile!
			</h3>
		</div>
		

		<div class="mobile">
			<h1 class="mobile-text">WHAT WE</h1>
			<h1 class="mobile-text">STAND</h1>
			<h1 class="mobile-text">FOR</h1>
			<div v-center><span uk-icon="icon: triangle-down; ratio: 2" ></span></div>
						<div class="quote" v-center>
				<span uk-icon="icon: quote-right; ratio: 2"></span>
			</div>
			<p class="mobile-text text-justify">
				At Echwood, we partner with you to provide the right software solution and expert advisory
				that maximizes the growth of your business.
				Echwood is pioneering technology driven solutions that impact day to day business operations.
				We partner with business and institutions to develop innovative systems, products and applications that
				deliver business success with ease and simplicity.
			</p>
						<div class="quote" v-center>
				<span uk-icon="icon: quote-right; ratio: 2"></span>
							<h3 class="mobile-text">
				We make you smile!
			</h3>
			</div>

		</div>
	</div>
</template>
<script>
	export default {
		data() {
			return {

			}
		}
	}
</script>
<style lang="scss" scoped>
    @import '../assets/scss/variables';
	div#App-Stand {
		min-width: 100%;
		min-height: 270px;
        display: flex;
        align-items: center;
		justify-content: center;
		margin: 1em auto;
		> div:first-child {
			// background-color: $purple-light;
			padding: 3em 3em 0;
			position: relative;
			height: 300px;
			border-right: 6px solid gold-rgba(0.4);
			&::after {
				content: '';
				width: 1px;
				height: 100%;
				background-color: gold-rgba(0.4);
				margin-left: 2px;
				position: absolute;
				left: 102%;
				top: 0;
				bottom: 0;
			}
			h1 {
				margin: 0;
				padding: 0;
				color: $gold;
				font-size: 30px;
				font-weight: 100;
				// text-shadow: 0 0 .03rem #DDD;
			}
			h1:not(:first-child) {
				font-weight: 900;
				font-size: 70px;
			}
			svg {
				position: absolute;
				left: 100%;
				top: 0;
				path {
					box-shadow: 0 0 .3em #444;
				}
			}
		}
		> div.pc, div:last-child {
			background-color: $white;
			font-size: 23px;
			line-height: 1.8;
			text-align: justify;
			padding: 1.5em 2.5em;
			color: #777;
			height: 100%;
			h3 {
				margin: 0;
				padding: 0;
				font-size: 27px;
				line-height: 1.8;
				text-transform: uppercase;
				font-weight: 700;
				text-shadow: 0 0 2px 1px #333;
			}
			p {
				font-weight: 300;
				color: #333;
				@media screen {
					
				}
			}
		}
		div.quote {
			margin: 0;
			padding: 0;
			// height: auto;
			// background-color: transparent;
		}
		.pc {
			display: block;
		}
		.mobile {
			display: none;
		}
		@media screen and (min-width: 320px) and (max-width: 679px) {
			.pc {
				display: none;
			}
			.mobile {
				display: block;
			}
			div.mobile {
				padding: 4%;
				h1 {
					color: $gold;
					font-size: 90%;					
					margin-top: 2%;
					margin-bottom: 2%;
					margin-left: auto;
					margin-right: auto;
					text-align: center;

				}
			}
			.mobile-text {
				font-size: 70%;
				padding-left: 0;			
			}
			.mobile-div {
				
			}
		}

		
	}
</style>