<template>
	<h3 id="App-Statement" v-center>
		Innovation And Collaboration Is Our Culture
		<hr/>
	</h3>
</template>
<script>
	export default {
		data() {
			return {}
		}
	}
</script>
<style lang="scss" scoped>
    @import '../assets/scss/variables';
	h3#App-Statement {
		background-color: $purple-light;
		padding: 3em 0;
		margin: 0;
		font-weight: 20px;
		text-transform: uppercase;
		letter-spacing: 2px;
		font-weight: 500;
		color: purple-rgba(0.75);
		text-shadow: 0 0 .3rem #F0F0F0;
		> hr {
			width: 3em;
			height: 7px;
			margin: 1em auto 0;
			background-color: purple-rgba(0.55);
		}
	}
</style>