<template>
	<div id="App-Strengths">
		<div class="row">
			<div v-center
				class="small-12 medium-3 large-3 column"
				v-for="strength in strengths" :key="strength.title">
				<hr/>
				<div class="content">
					<div>
						<span :uk-icon="`icon: ${strength.icon}; ratio: 3`"></span>
					</div>
					<h3>
						{{ strength.title }}
					</h3>
				</div>
				<hr/>
			</div>
		</div>
	</div>
</template>
<script>
	export default {
		data() {
			return {
				strengths: [
					{ title: 'Effective time and cost management', desc: '', icon: 'clock' },
					{ title: 'Improved Efficiency through data', desc: '', icon: 'database' },
					{ title: 'Effective management', desc: '', icon: 'users' },
					{ title: 'Customer Satisfaction', desc: '', icon: 'user' },
				]
			}
		}
	}
</script>
<style lang="scss" scoped>
    @import '../assets/scss/variables';
	div#App-Strengths {
		// background-color: $purple-light;
		padding: 4em 0;
		hr {
			margin: 0 auto;
			border: 0;
			height: 2.5px;
			background-color: gold-rgba(0.7);
			width: 5em;
		}
		.content {
			// border: 1px solid gold-rgba(0.4);
			// background-color: $white;
			margin: .1em auto;
			color: gold-rgba(0.7);
			padding: 2em;
            min-height: 13em;
		} 
		h3 {
			font-size: 13px;
			font-weight: 600;
			margin: 2em 0 1em;
			padding: 0;
			color: #666;
			text-transform: uppercase;

		}
	}
</style>