<template>
    <div id="App-Technologies">
        <heading text="Technologies We Adopt" center large noline></heading>
        <div v-center>
            <img
                 v-for="technology in technologies"
                 :key="technology"
                 :src="`/img/technologies/${technology}.png`"
                 :alt="technology"
                 width="70px"/>
        </div>
    </div>
</template>
<script>
    import Heading from './Heading'
    export default {
        data() {
            return {
                technologies: [
                    'firebase', 'flutter', 'dialogflow', 'nodejs', 'vue', 'tensorflow', 'react',
                    'google-assistant', 'parse-server', 'what3words', 'laravel', 'nuxt',
                    'electron', 'odoo', 'graphql'
                ]
            }
        },
        components: {
            Heading
        }
    }
</script>
<style lang="scss" scoped>
    div#App-Technologies {
        div {
            width: 80%;
            margin: auto;
            padding: 0 0 2em;
            img {
                margin: 1em;
                transition: all .3s linear 0s;
                filter: grayscale(5);
            }
            &:hover > img {
                filter: none;
            }
        }
    }
</style>