<template>
	<div id="App-Topbar" class="animated slideInDown">
		<div class="topbar">
			<div class="small-6 medium-3 large-3 column pc" @click="goHome" v-left>
				<img id="log" src="../assets/img/logoech.png">
				<div>
					<!-- <h2>IT and Business Solutions Provider</h2> -->
				</div>
			</div>
			<div class="small-6 medium-9 large-9 column menus" v-right>
				<ul class="pc-menu">
					<router-link tag="li" v-if="!nav.isDropdown"  :to="nav.link"
						v-for="nav in navigationLinks"
						:key="nav.name">
						<a
							:class="{ selected: selected ===  navigationLinks.indexOf(nav) }">
							{{ nav.name }}
						</a>
					</router-link>
					<li tag="li" v-else class="drop-nav">
                        <a
							:class="{ selected: selected ===  navigationLinks.indexOf(nav)}">
							{{ nav.name }}<span uk-icon="icon: triangle-down; ratio: 0.8"></span>
		                            <ul class="animated">
		                                <router-link tag="li" :to="subnav.link" v-for="subnav in nav.dropdown" :key="subnav.name">
		                                    <a>
		                                        <span uk-icon="icon: arrow-right; ratio: 0.5"></span> {{ subnav.fullname }}
		                                    </a>
		                                </router-link>
		                            </ul>
						</a>
					</li>
				</ul>
			</div>
			<div class="row center-text name">
				<div class="row mobile">
					<div class="small-9 column left-text" @click="goHome">
						<img src="../assets/img/logoech.png" id="log">
						<!-- <h2 >IT and Business Solutions Provider</h2> -->
					</div>
					<div class="small-3 column right-text">
						<ul class="mobile-menu">
							<li>
								<button>
									<span class="arrw" uk-icon="icon:  bars"></span>
								</button>
								<ul>
									<div>
									<div v-for="nav in navigationLinks" v-if="!nav.isDropdown" :key="nav.name">
										<router-link :to="nav.link">
											 <!-- <icon :name="nav.icon" ></icon>  -->
											 <span :uk-icon="`icon: ${nav.icon}; ratio: 0.5`"></span>
											{{ nav.name }}
										</router-link>
									</div>
								
								
                        		<nav v-else><span class="men-mob-titl">{{ nav.name }}</span> <span class="arrw" uk-icon="icon: triangle-down"></span>
		                            
		                                <router-link tag="li" :to="subnav.link" v-for="subnav in nav.dropdown" :key="subnav.name">
		                                    <a class="row menu-child text-left">
		                                        <span uk-icon="icon: arrow-right; ratio: 0.5"></span> {{ subnav.fullname }}
		                                    </a>
		                                </router-link>
		                            
						</nav>
									</div>
					
								</ul>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>
<script>
	export default {
		name: 'topbar',
		props: {
			selected: {
				type: Number,
				required: false
			}
		},
		data() {
			return {
				selectedPage: 0,
				navigationLinks: [
					{ icon: 'home', name: 'Home', isDropdown: false, link: '/' },
					{ icon: 'bars', name: 'About', isDropdown: false, link: '/about' },
					{
								icon: 'account-group',
								name: 'Business Software',
								isDropdown: true,
								link: '',
								dropdown: [
									{ name: 'α-Inventory', link: '/products/alpha-inventory', fullname: 'Alpha Inventory' }
								]
							},
					{
						icon: 'code',
						name: 'Bespoke Software',
						isDropdown: true,
						link: '',
						dropdown: [
							{ name: 'SERPS', link: '/products/serps', fullname: 'School ERP Solution' },
							{ name: 'ARRMS', link: '/products/arrms', fullname: 'Alpha Restaurant Reservation Management System' },
							{ name: 'Haulaton', link: '/products/move-a-lot', fullname: 'MOVE-A-LOT' }
						]
					},
					{ icon: 'code', name: 'Investment', isDropdown: false, link: '/investment' },
					{ icon: 'code', name: 'Consulting', isDropdown: false, link: '/consulting' },
				],
			}
		},
		methods: {
			goHome() {
				location.href = location.origin
			}
		}
	}
</script>
<style lang="scss" scoped>
	@import '../assets/scss/variables';
	#log {
    height: 5vh;
}
	.men-mob-titl{
		color: $purple;
		font-size: 12px;
		margin-bottom: 0%;		
	}
	.arrw {
		color: $purple;
		display: flex;
		justify-content: center;
	}
	.arrw :hover{
		background: transparent
	}
	div#App-Topbar {
		position: fixed;
		left: 0;
		top: 0;
		right: 0;
		z-index: 30000;
		background-color: $white;
		height: 9vh;
		box-shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28);
		.topbar {
			background: transparent;
			.pc {
				padding-top: .4375rem;
				color: $purple;
				cursor: pointer;
	      h1 {
					font-size: 24px;
				  font-weight: 600;
					// letter-spacing: -2.5px;
					padding: 0;
					margin: 0;
					color: $purple;
				}
				h2 {
					font-size: 13px;
					padding: 0;
					margin: 0;
					color: $purple;
				}
			}
		}
		div.row {
			&:not(.pc) {
				// background: rgba(255, 255, 255, 0.05);
			}
			&.name {
				background: transparent;
				text-shadow: 0 0 .5rem #222;
				color: $white;
				font-size: 1.3rem;
				letter-spacing: 1px;
				.pc {
					padding: 1rem;
					min-width: 100%;
					font-weight: 600;
				}
				.mobile {
					display: none;
					min-width: 100%;
					padding: .8rem .5rem 0;
					margin: 0;
					
					> div {
						h1{
						font-size: 1em;
						padding-bottom: 0px;
						margin-bottom: 0%;
						color: $purple;
								}
							>h2 {
								opacity: .9;
								margin: 0%;
								padding: 0%;
							font-size: .4em;
						color: $purple;
						}

					} 


					> div:last-child {
						text-shadow: none;
						margin: -.5rem 0 0;
						
					}
				}
				ul.mobile-menu {
					margin: 0;
					padding: 0;
					list-style: none;
					-webkit-padding-start: 0;
					li {
						margin: 0;
						padding: .8rem 0 0;
						position: relative;
						&:hover {
							ul {
								display: block;
							}
						}
						ul {
							padding-left: 0%;
							display: none;
							text-align: center;
							width: 9rem;
							position: absolute;
							z-index: 10000;
							right: -3%;
							box-shadow: 0 0 .7rem #222;
							&::before {
								content: '';
								width: 0;
								height: 0;
								border: 8px solid transparent;
								border-bottom-color: rgba(250, 250, 250, 0.99);
								position: absolute;
								right: 3%;
								bottom: 99%;
								margin: 0;
							}
							div {
								background-color: rgba(250, 250, 250, 0.99);
								a {
									outline: 0;
									font-size: 12px;
									display: block;
									padding: .5rem;
									&:hover {
										background-color: #e0e0e0;
									}
									li {
										padding: 1%;
									}
									a.menu-child {
										 z-index:1;
										 padding-top: 0%;
										 padding-bottom: 0%;
										 background-color: rgba(190, 187, 187, 0.2);
									}
								}
							}
						}
					}
				}
			}
		}
		ul.pc-menu {
			// margin: .3rem 0 0;
			// padding: .7rem;
			margin: 0;
			padding: 0;
			height: 9vh;
			display: flex;
			align-items: center;
			justify-content: center;
			list-style: none;
			li {
				display: inline;
				padding: 0.7rem;
				border-radius: .3rem;
				a {
					color: $purple;
					display: inline-block;
					font-size: 12px;
					// font: 13px StRyde;
                    letter-spacing: 1.8px;
					font-weight: 900;
					text-transform: uppercase;
					transition: all 0.2s linear 0s;
					&:hover {
						color: #E0E0E0;
					}
					&.selected {
						color: $gold;
					}
				}
			}
            li.drop-nav {
            	a {
            		position: relative;
            		&:hover {
						border-radius: 1em 1em 0 0;
						
            		}
            		&:hover > ul {
            			display: block;
            			animation-name: flipInY;
            			li:hover {
            				padding-left: 1.2rem;
            				margin: 0.2rem auto;
                        		background-color: $purple / 1.1;
            			}
            		}
            	}
                ul {
                	display: none;
            		animation-name: slideOutUp;
                	position: absolute;
                	right: 0;
                	top: 0;
                	min-width: 20em;
              		margin: 0;
              		padding-top: 2.5em;
              		transition: all .3s ease-in-out 0s;
                    li {
                        display: block;
                        text-align: left;
                        background-color: $white;
                        transition: all .3s ease-in-out 0s;
                        color: $white;
                        padding-left: 1em;
                        border-radius: 0;
                        &:last-child {
                        	border-radius: 0 0 1em 1em;
                        }
                        a {
                        	display: block;
                		  text-transform: none;
                            font-weight: 500;
                        	// text-overflow: break-word;

                        }
                    }
                }
            }
		}
	}

	@media screen and (min-width: 320px) and (max-width: 679px) {
		div#App-Topbar {
			.topbar {
				.pc, .menus {
					display: none;
				}
			}
			div.row {
				&.name {
					.pc {
						display: none;
					}
					.mobile {
						display: block;
					}
				}
				&.menus {
					display: none;
				}
			}
		}
	}
</style>
