<template>
    <section style="height:60%" id="App-Products">
        <div class="parti" id="particles-js">

        </div>
        <!--Topbar-->
        <section class="Product-Topbar row">
            <div class="small-2 medium-1 large-1 columns" v-right>
                <span uk-icon="icon: list;"></span>
            </div>
            <h1 class="small-10 medium-11 large-11 columns">
                <div class="row">
                <strong class="small-12 medium-3 large-2 text-justify columns"> AIMS </strong>
                <span class="small-12 medium-8 large-9  columns"> Alpha Inventory Management System</span>
                </div>
            </h1>
        </section>

        <!--Description-->
        <section id="Product-Description" class="row">
            <p class="center-div small-10 medium-10 large-11 columns row text-justify">
                AIMS is an efficient stock management system that ensures timely order fulfillment and helps you increase sales.
            </p>
        </section>

        <!--Features-->
        <section id="Product-Features" class="Product-Feature row">
            <h3 class="headify" >AIMS Features</h3>
            
            <p class="center-div small-10 medium-10 large-11 columns row text-justify">
                <strong>Stock management</strong>
                <br/>𝝰-Inventory Management System offers the best solution to stock itemization and handling. 
                <br/>

                <br/>Organizations and businesses perform routine stocktaking to determine lists of stocks 
                sold, real time stock levels, orders, deliveries and items to be restocked. 
                <br/>

                <br/>The era of tedious manual stock taking using spreadsheets and hard copy inventory has 
                become extinct. AIMS automates this process, eradicates errors and human subjectivity, saves 
                time and preserves manpower that may be utilized elsewhere for more efficiency.
                <br/>

                <br/>We offer the best inventory software to effectively manage your company’s stock, accurately 
                track employee and departmental stock handling regardless of the size of your enterprise. Employees 
                and customers with specific system privileges will be able to see supplies in stock and their location.
                <br/>

                <br/>𝝰-Inventory  management system provides organisations with low stock alert and reorder options to 
                prevent shortages and overstocking of supplies (we will put a notification bar in the app for this, 
                both overstock Icon and low stock icon). 
                <br/>

                <br/>AIMS has the capability to earmark specific merchandise price and tag items in the event of sales, discount, special offers. Necessary information on these items are automatically identified and applied accordingly.

            </p>
            <h4 class="headify"> Solutions offered</h4>
            <p class="bullet center-div small-10 medium-10 large-11 columns row text-justify">
                <strong>Supplier matching.</strong><br/>
                AIMS offers price matching by comparing prices offered by different suppliers to provide competitive prices. 
                Retailers may also be matched with suppliers of desired products and services. 
            </p>

            <p class="bullet center-div small-10 medium-10 large-11 columns row text-justify">
                <strong>Warehouse Management.</strong><br/>
                In addition to low stock alert and reorder services, 𝝰-Inventory can send purchase orders directly to suppliers. 
                Ready-to-Ship alert option is available with timely reminders for orders ready for dispatch to clients. AIMS 
                synchronizes main warehouse stock availability with stock levels at company’s branches and alerts when stock needs 
                to be replenished.
            </p>

            <p class="bullet center-div small-10 medium-10 large-11 columns row text-justify">
                <strong>Order management.</strong><br/>
                Efficient management system that enables you create purchase orders, drop shipments, and keep track of backorders.
            </p>

            <p class="bullet center-div small-10 medium-10 large-11 columns row text-justify">
                <strong>Multi-warehouse inventory management</strong>
                Synchronized stock inventory across warehouses. Low stock alert notifications. Manage transfer between warehouses.
            </p>

            <p class="bullet center-div small-10 medium-10 large-11 columns row text-justify">
                <strong>Cloud based storage system.</strong>
                Information is synchronized in the cloud and is readily available from any device.
            </p>

            <p class="bullet center-div small-10 medium-10 large-11 columns row text-justify">
                <strong>Barcode scanning.</strong>
                Barcode system enables product tracking.
            </p>

            <p class="bullet center-div small-10 medium-10 large-11 columns row text-justify">
                <strong>Mobile integration..</strong>
                Inventory system is available on Android, IOS and Web.
            </p>
        </section>
        <!-- {{ $route.params.product_id }} -->
    </section>
</template>
<script>
/* eslint-disable */
import galaxyjson from '../../assets/js/particlegalaxy.json'
export default {
    created() {

    },
    mounted() {
        particlesJS('particles-js', galaxyjson)
    },
    head: {
		title: 'Echwood AIMS',
        meta: [
            { name: 'description', content: 'AIMS by Echwood is an efficient stock management system that ensures timely order fulfillment and helps you increase sales.', id: 'desc' }
        ]
	}
}
</script>
<style lang="scss" scoped>
    @import '../../assets/scss/variables';
    section#App-Products {
        div.parti {
            z-index: -1;
            height: 100%;
            width: 100%;
            position: fixed;
        }
        section.Product-Topbar {
            height: 13vh;
            min-width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #FAFAFA;
            margin-bottom: 2em;
            h1 {
                margin: 0;
                padding: 0;
                strong {
                    color: $gold;
                    font-size: 30px;                    
                }
                span {
                    color: #777;
                    font-size: 20px;
                    margin-left: 1em;
                }
            }
        }

        #Product-Features {
            background: transparent;
        }

        .center-div {
            margin-left: auto;
            margin-right: auto;
            }
        .headify {
            margin-left:4% ;
            }
        .bullet {
            border-left-color: $gold;
            border-left-style: groove;
            border-left-width: .2em;
            padding-left: .6em;
            }
    }
</style>