<template>
    <section style="height:60%" id="App-Products" class="row">
        <div class="parti" id="particles-js">

        </div>
        <!--Topbar-->
        <section class="Product-Topbar row">
            <div class="small-2 medium-1 large-1 columns" v-right>
                <span uk-icon="icon: list;"></span>
            </div>
            <h1 class="small-10 medium-11 large-11 columns">
                <div class="row">
                <strong class="small-12 medium-3 large-2 text-justify columns"> ARRMS </strong>
                <span class="small-12 medium-8 large-9  columns"> Alpha Restaurant Reservation Management System</span>
                </div>
            </h1>
        </section>


        <!--Description-->
        <section id="Product-Description">
            <p class="center-div small-10 medium-10 large-11 columns row text-justify">
                ARRMS is an innovative breakthrough in restaurant management that is centered around
                efficient reservation management, table assignment and client management regardless 
                of the size and type of restaurant. Restaurants in the past.
            </p>
        </section>

        <!--Features-->
        <section id="Product-Features" class="Product-Feature">
            <h3 class="headify">ARRMS Features</h3>
            <p class="center-div small-10 medium-10 large-11 columns row text-justify">
                <strong> Customer Application Features</strong>
                <br/>&#x21A1; Visual Reservation: customers are able to see real time available tables
                <br/>&#x21A1; Voice Reservation
                <br/>&#x21A1; Place & Track Orders
                <br/>&#x21A1; Chat
                <br/>&#x21A1; Reservation History
                <br/>&#x21A1; Receipts
                <br/>&#x21A1; Advanced Notifications
                <br/>&#x21A1; Environment-based advice on reservations
                <br/>&#x21A1; Preference learning
                <br/>&#x21A1; Behaviour learning 
                <br/>&#x21A1; new tables added alert
                <br/>&#x21A1; PWA - Offline tasks - Reservation, Orders etc.
                <br/>&#x21A1; Quick Reminders
                <br/>&#x21A1; Wait list
                <br/>&#x21A1; Search Restaurant by location
                <br/>&#x21A1; Can view Restaurant ratings and reviews
                <br/>&#x21A1; Manage Preferences
                <br/>&#x21A1; Personalization
                <br/>&#x21A1; Give Feedback, Reviews and Ratings

            </p>


            <p class="center-div small-10 medium-10 large-11 columns row text-justify">
                <strong>Restaurant's Application Features</strong>
                <br/>&#x21A1; Improved Analytics - View tables per hour/day, times and days when customer demand is high
                <br/>&#x21A1; Manage Customer Orders
                <br/>&#x21A1; Chat
                <br/>&#x21A1; Reservation History (can use this to reward customers, give coupons etc.)
                <br/>&#x21A1; CRM / Customer profile - uses this to view customer birthday, anniversaries, allergies etc. We can also use these allergies to advice customers
                <br/>&#x21A1; PWA - Offline tasks - Reservation, Orders etc.
                <br/>&#x21A1; Customer tracking - customer can allow option on choice, customer can also permanently disable tracking
                <br/>&#x21A1; Quick Reminders or updates on reservations
                <br/>&#x21A1; Bulk SMS / Email to customers. They’d need this in order to send inspirational texts or make announcements or newsletters etc.
                <br/>&#x21A1; Receive feedback
                <br/>&#x21A1; Advanced Notifications
                <br/>&#x21A1; Technical Support
                <br/>&#x21A1; Manage Preferences    
            </p>


            <p class="center-div small-10 medium-10 large-11 columns row text-justify">
                <strong>Restaurant's Application Features</strong>
                <br/>&#x21A1; Improved Analytics 
                <br/>&#x21A1; Manage Customer Orders
                <br/>&#x21A1; Reservation History (can use this to reward customers, give coupons etc.)
                <br/>&#x21A1; CRM / Customer profile - uses this to view customer birthday, anniversaries,
                <br/>&#x21A1; allergies etc. We can also use these allergies to advice customers
                <br/>&#x21A1; Offline tasks - Reservation, Orders etc.
                <br/>&#x21A1; Any task the Restaurateurs deem them fit              
            </p>


            <h4 class="headify">Solutions ARRMS offer</h4>
            <p class="center-div small-10 medium-10 large-11 columns row text-justify">
                <br/>&#x21A1; TRACKING OF SALES AND TAXES
                <br/>&#x21A1; SIMPLE MENU SETUP
                <br/>&#x21A1; RESERVATION MANAGEMENT
                <br/>&#x21A1; CREDIT CARD PROCESSING INTEGRATION
                <br/>&#x21A1; ACCEPT GIFT CARDS AND COUPONS
                <br/>&#x21A1; INVENTORY CONTROL
                <br/>&#x21A1; COMPREHENSIVE REPORTING AND CUSTOMER DATA
                <br/>&#x21A1; FLOOR PLAN CREATOR
                <br/>&#x21A1; Visualization
                <br/>&#x21A1; Human-computer interaction
                <br/>&#x21A1; USER MANAGEMENT
                <br/>&#x21A1; LOGS
                <br/>&#x21A1; SYSTEM SETTINGS

            </p>
        </section>
        <!-- {{ $route.params.product_id }} -->
    </section>
</template>
<script>
/* eslint-disable */
import galaxyjson from '../../assets/js/particlegalaxy.json'
export default {
    created() {

    },
    mounted() {
        particlesJS('particles-js', galaxyjson)
    },
    head: {
		title: 'Echwood ARRMS',
        meta: [
            { name: 'description', content: 'ARRMS by Echwood is an innovative breakthrough in restaurant management that is centered around'
                + 'efficient reservation management, table assignment and client management regardless'
                + 'of the size and type of restaurant. Restaurants in the past.', id: 'desc' }
        ]
	}
}
</script>
<style lang="scss" scoped>
    @import '../../assets/scss/variables';
    section#App-Products {

        div.parti {
            z-index: -1;
            height: 100%;
            width: 100%;
            position: fixed;
        }
        section.Product-Topbar {
            height: 13vh;
            min-width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #FAFAFA;
            margin-bottom: 2em;
            h1 {
                margin: 0;
                padding: 0;
                strong {
                    color: $gold;
                    font-size: 30px;                    
                }
                span {
                    color: #777;
                    font-size: 20px;
                    margin-left: 1em;
                }
            }
        }
               .center-div {
            margin-left: auto;
            margin-right: auto;
            }
        .headify {
            margin-left:4% ;
            }
        .bullet {
            border-left-color: $gold;
            border-left-style: groove;
            border-left-width: .2em;
            padding-left: .6em;
            }
    }
</style>