<template>
    <section style="height:60%" id="App-Products">
        <div id="particles-js">

        </div>

        <section class="Product-Topbar row">
            <div class="small-2 medium-1 large-1 columns" v-right>
                <span uk-icon="icon: list;"></span>
            </div>
            <h1 class="small-10 medium-11 large-11 columns">
                <strong>AIMS </strong>
                <span> Alpha Inventory Management System</span>
            </h1>
        </section>
        <section id="Product-Features" class="Product-Feature row">
                <h2>Features</h2>
        </section>
        <!-- {{ $route.params.product_id }} -->
    </section>
</template>
<script>
/* eslint-disable */
import galaxyjson from '../../assets/js/particlegalaxy.json'
import backjson from '../../assets/js/particles.json'
export default {
    created() {

    },
    mounted() {
        particlesJS('particles-js', galaxyjson)
        particlesJS('Product-Features', backjson)
    }
}
</script>
<style lang="scss" scoped>
    @import '../../assets/scss/variables';
    section#App-Products {
        section.Product-Topbar {
            height: 10vh;
            min-width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #FAFAFA;
            margin-bottom: 2em;
            h1 {
                margin: 0;
                padding: 0;
                strong {
                    color: $gold;
                    font-size: 30px;                    
                }
                span {
                    color: #777;
                    font-size: 20px;
                    margin-left: 1em;
                }
            }
        }

        #Product-Features {
        }
    }
</style>
