<template>
    <section id="App-Products">
        
        <div class="parti" id="particles-js">
        </div>
        
        <!--Topbar-->
        <section class="Product-Topbar row">
            <div class="small-2 medium-1 large-1 columns" v-right>
                <span uk-icon="icon: list;"></span>
            </div>
            <h1 class="small-10 medium-11 large-11 columns">
                <div class="row">
                <strong class="small-12 medium-3 large-2 text-justify columns"> AM </strong>
                <span class="small-12 medium-8 large-9  columns"> Alpha Move-A-Lot</span>
                </div>
            </h1>
        </section>

        <!--Description-->
        <section id="Product-Description">
            <p class="center-div small-10 medium-10 large-11 columns row text-justify">
                Our commitment to making life easier led us to develop Move-a-lot. This service 
                makes it easier for you to move things regardless of the size, type and mass from 
                one place to another place with a single click.
            </p>
        </section>

        <!--Features-->
    <!-- <section id="Product-Features" class="Product-Feature row">
                <h2>Features</h2>
        </section> -->
        <!-- {{ $route.params.product_id }} -->
    </section>
</template>
<script>
/* eslint-disable */
import galaxyjson from '../../assets/js/particlegalaxy.json'
export default {
    created() {

    },
    mounted() {
        particlesJS('particles-js', galaxyjson)
    },
    head: {
		title: 'Echwood MOV-A-LOT',
        meta: [
            { name: 'description', content: 'Echwood\'s commitment to making life easier led us to develop Move-a-lot. This service'
                + 'makes it easier for you to move things regardless of the size, type and mass from' 
                + 'place to place with a single click.', id: 'desc' }
        ]
	}
}
</script>
<style lang="scss" scoped>
    @import '../../assets/scss/variables';
    section#App-Products {
        div.parti {
            z-index: -1;
            height: 100%;
            width: 100%;
            position: fixed;
        }
        section.Product-Topbar {
            height: 10vh;
            min-width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #FAFAFA;
            margin-bottom: 2em;
            h1 {
                margin: 0;
                padding: 0;
                strong {
                    color: $gold;
                    font-size: 30px;                    
                }
                span {
                    color: #777;
                    font-size: 20px;
                    margin-left: 1em;
                }
            }
        }

        #Product-Features {
            background: transparent;
        }
    }
</style>