<template>
    <section  id="App-Products">
        <div class="parti" id="particles-js">
            
        </div>
        <!--Topbar-->
        <section class="Product-Topbar row">
            <div class="small-2 medium-1 large-1 columns" v-right>
                <span uk-icon="icon: list;"></span>
            </div>
            <h1 class="small-10 medium-11 large-11 columns">
                <div class="row">
                <strong class="small-12 medium-3 large-2 text-justify columns"> ASERPS </strong>
                <span class="small-12 medium-8 large-9  columns"> Alpha School Enterprise Resource Planning System</span>
                </div>
            </h1>
        </section>

        <!--Description-->
        <section id="Product-Description" class="row">
            <p class="center-div small-10 medium-10 large-11 columns row text-justify">
                SERPS provides school systems with tools that ensure efficient time and resource 
                management. Educators have the objective to mold students into the best version of themselves. 
                Currently, technology has changed how things are done through automation, resource planning and 
                output maximization. SERP streamlines the process by providing support mechanisms and reliable 
                robust information in a timely manner that enables appropriate decision making.
            </p>
            
            <p class="center-div small-10 medium-10 large-11 columns row text-justify">
                SERP equips schools, parents, students with relevant, contextual information that is compatible on any device. 
                Parents are presented with the opportunity to be hands on and closely monitor the progress of their wards. 
                Students are unique and have different learning requirements,
                with the data available through SERP, educators and parents are able to identify difficult areas for each student
                in order to strategize bailout plans,  making sure no student falls through the cracks.
            </p>

            <h4 class="headify">SERP is available in two forms</h4>
        
            <p class="center-div bullet small-10 medium-10 large-11 columns row text-justify">
                SERP solution to address each school’s challenges uniquely. The customized version has all the provisions in the SERP
                 platform however it is closed off and excludes interaction with other schools .
            </p>

            <p class="center-div bullet small-10 medium-10 large-11 columns row text-justify">
                 An integrated SERP platform with features unique to each school and  at the same time present many schools the opportunity 
                 to interact and compare curriculum based on previously agreed terms
            </p>

        

        <!--Features-->
        <section id="Product-Features" class="Product-Feature row">
            <h3 class="headify">SERPS Features</h3>

            <p class="center-div small-10 medium-10 large-11 columns row text-justify">
                <strong>Behavioral Manager</strong><br/>
                Manages academic and extracurricular records of both staff and students. Updates parents on their ward’s behavioral 
                statistics. This tool gives detailed overview of student’s current performance,
                expected performance level and compares this with the performance of their peers.
            </p>


            <p  class="center-div small-10 medium-10 large-11 columns row text-justify">
                <strong>Financial Manager</strong><br/>
                Manages and tracks institutions financial responsibilities:
                    <br/>&#x21A1; Financial reporting and analytics
                    <br/>&#x21A1; Revenue management
                    <br/>&#x21A1; Fund accounting
                    <br/>&#x21A1; Endowment accounting
                    <br/>&#x21A1; Budgetary control and commitment
                    <br/>&#x21A1; Asset management and inventory
                    <br/>&#x21A1; Projects
                    <br/>&#x21A1; Expenses
                    <br/>&#x21A1; Procurement
            </p>

            <p class="center-div small-10 medium-10 large-11 columns row text-justify">
                <strong>Electronic Library </strong><br/>
                Students and teachers have access to the electronic library equipped with visual (texts and Videos) and audio materials. Students and teachers are able to
                download, borrow and read electronic study materials. Electronic libraries can be integrated to be shared among same school system or synchronized with 
                different   school libraries. The system provides the option to purchase books online and access to online libraries.
            </p>

            <p class="center-div small-10 medium-10 large-11 columns row text-justify">
                <strong>Electronic Test Manager (ETM)</strong><br/>
                Computer based examinations, score tracking, recording and backup. Grade Manager is programmed using the individually determined scheme. This ETM is compatible 
                with all platforms and integrated with new graphic technology.
            </p>

            <p class="center-div small-10 medium-10 large-11 columns row text-justify">
                <strong>Clinic manager</strong><br/>
                Tracks health status and medical records of students and teachers at the school clinic and medication dispensary. Information on special health needs, allergies, 
                disabilities and specific precautions are noted and made available to the appropriate management team.
            </p>

            <h4 class="headify">Solutions SERP offers</h4>

            <h5 class="headify"><strong>Parents</strong></h5>
            <p class="center-div bullet small-10 medium-10 large-11 columns row text-justify">
                A mobile application for parents/guardian to monitor wards and stay connected to the school and ward’s teacher. It also has 
                electronic payment platform integrated for easy and secure tuition transactions.
            </p>

            <p class="center-div bullet small-10 medium-10 large-11 columns row text-justify">   
                Parents are able to view their ward’s school performance, curriculum, teachers remarks and general notifications.
            </p>

            <p class="center-div bullet small-10 medium-10 large-11 columns row text-justify">
                Parents teachers association updates, itinerary, minutes of previous meetings.
            </p>



            <h5 class="headify"><strong>Student</strong></h5>
            <p class="center-div bullet small-10 medium-10 large-11 columns row text-justify">
                An online student portal that allows students view lectures, access assignments, take electronic based tests, view and download results, 
                 access electronic library, vote for teachers’ and students’ positions and awards,  general notifications, synchronize data to personal cloud.
            </p>

            <h5 class="headify"><strong>Alumni</strong></h5>
            <p class="center-div bullet small-10 medium-10 large-11 columns row text-justify">
                Alumni network and Access to credentials and school documents.
            </p>

            <h5 class="headify"><strong>Teacher</strong></h5>
            <p class="center-div bullet small-10 medium-10 large-11 columns row text-justify">
                A customizable platform for teachers to manage classes, compare curriculum, assessment and grading manager, payment notifications, stay connected
                to students, the school and parents.
            </p>


            <h5 class="headify"><strong>School Management</strong></h5>
            <p class="center-div bullet small-10 medium-10 large-11 columns row text-justify">
               A customizable school management software that has Admission manager, human resource enterprise manager, clinic health record manager for the clinic and
               health records, notifications system and all.
            </p>
        </section>
        </section>
        <!-- {{ $route.params.product_id }} -->
    </section>
</template>
<script>
/* eslint-disable */
import galaxyjson from '../../assets/js/particlegalaxy.json'
export default {
    created() {

    },
    mounted() {
        particlesJS('particles-js', galaxyjson)
    },
    head: {
		title: 'Echwood ASERPS',
        meta: [
            { name: 'description', content: 'SERPS provides school systems with tools that ensure efficient time and resource' 
                +'management. Educators have the objective to mold students into the best version of themselves.' 
                +'Currently, technology has changed how things are done through automation, resource planning and' 
                +'output maximization.', id: 'desc' }
        ]
	}
}
</script>
<style lang="scss" scoped>
    @import '../../assets/scss/variables';
    section#App-Products {
        div.parti {
            z-index: -1;
            height: 100%;
            width: 100%;
            position: fixed;
        }
        section.Product-Topbar {
            height: 13vh;
            min-width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #FAFAFA;
            margin-bottom: 2em;
            h1 {
                margin: 0;
                padding: 0;
                strong {
                    color: $gold;
                    font-size: 30px;                    
                }
                span {
                    color: #777;
                    font-size: 20px;
                    margin-left: 1em;
                }
            }
        }

        #Product-Features {
            background: transparent;
        }
        
        .center-div {
            margin-left: auto;
            margin-right: auto;
            }
        .headify {
            margin-left:4% ;
            }
        .bullet {
            border-left-color: $gold;
            border-left-style: groove;
            border-left-width: .2em;
            padding-left: .6em;
            }


    }
</style>