<template>
<div id="app">
		<loading :loadingStatus="loadingStatus"></loading>
		<topbar :selected="selectedPage"></topbar>
		<div class="clearfix"></div>
		<!-- <alert :alertStatus="alertStatus"></alert> -->
		<nuxt/>
        <app-footer></app-footer>
	</div>
</template>

<script>
import { mapGetters } from 'vuex'
	// import { getTokenExpiredBox, setTimer, clearTimer } from './helpers'

	/**
	 * Import Component
	 */
	import Loading from '../components/notices/Loading.vue'
	import Topbar from '../components/Topbar.vue'
	import Alert from '../components/notices/Alert.vue'
	import Footer from '../components/Footer'

	export default {
		name: 'app',
		mounted() {
			this.selectedPage = parseInt(localStorage.selectedPage)
		},
		updated() {
			this.selectedPage = parseInt(localStorage.selectedPage)
		},
		components: {
			'loading': Loading,
			'alert': Alert,
			'topbar': Topbar,
			'app-footer': Footer
		},
		data() {
			return {
				loadingStatus: '',
				alertStatus: {},
				intervalId: '',
				selectedPage: 0
			}
		},
		computed: {
			...mapGetters([
				'getIsAuthorize',
				'getAccessToken'
			])
		},
		created() {
			// this.$bus.$on('isLoading', (event) => {
			// 	this.loadingStatus = event
			// })
			// this.$bus.$on('alertObj', (event, type) => {
			// 	console.log(event + type)
			// 	this.alertStatus = {
			// 		'obj': event,
			// 		'type': type
			// 	}
			// })
		},
		methods: {

		}
	}
</script>

<style lang="scss">
	@import '../assets/scss/app.scss';
	// #app {
	// 	font-family: 'Avenir', Helvetica, Arial, sans-serif;
	// 	-webkit-font-smoothing: antialiased;
	// 	-moz-osx-font-smoothing: grayscale;
	// 	text-align: center;
	// 	color: #2c3e50;
	// 	margin-top: 60px;
	// 	// background: $bg-white-light;
	// 	// background: url('./assets/img/bg.jpg') no-repeat top center;
	// 	// @include grid(true);
	// }
	.clearfix {
		height: 9vh;
	}
	.expire-box {
		font-family: 'Avenir', Helvetica, Arial, sans-serif;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		color: #2c3e50;
		.el-message-box__header {
			.el-message-box__title {
				text-transform: uppercase;
				letter-spacing: 1.5px;
			}
			.el-message-box__headerbtn {
				display: none;
			}
		}
		.el-message-box__content {
			.el-message-box__message {
				p {
					font-size: 16px;
				}
			}
		}
		.el-message-box__btns {
			.el-button {
				text-transform: uppercase;
			}
		}
	}
html {
  font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
</style>

