<template>
    <div>
        <about></about>
        <arms></arms>
        <specialization></specialization>
    </div>
</template>
<script>
import About from '../../components/About'
import Arms from '../../components/Arms'
import Specialization from '../../components/Specialization'
export default {
    mounted() {
        localStorage.selectedPage = 1
    },
    components: {
        About, Arms, Specialization
    },
    head: {
		title: 'About Echwood',
        meta: [
            { name: 'description', content: 'At Echwood, we partner with you to provide the right software solution and expert advisory that maximizes the growth of your business.', id: 'desc' }
        ]
	}
}
</script>
