<template>
    <div>
        <carousel></carousel>
        <stand></stand>
        <statement></statement>
        <products></products>
        <strengths></strengths>
        <technologies></technologies> 
    </div>
</template>
<script>
import Carousel from '../components/Carousel'
import Stand from '../components/Stand'
import Statement from '../components/Statement'
import Products from '../components/Products'
import Strengths from '../components/Strengths'
import Technologies from '../components/Technologies'
export default {
    mounted() {
        localStorage.selectedPage = 0
        },
    components: {
        Carousel, Stand, Statement, Products, Strengths, Technologies
    }
}
</script>
