<template>
    <div>
        <heading text="Consulting" center noline large></heading>
    </div>
</template>
<script>
import Heading from '../../components/Heading'
export default {
    mounted() {
        localStorage.selectedPage = 5
    },
    components: {
        Heading
    },
    head: {
		title: 'Echwood Consulting',
        meta: [
            { name: 'description', content: 'Echwood provides technology advisory that cuts across mobile, enterprise applications, ecommerce and smart data', id: 'desc' }
        ]
	}
}
</script>
<style lang="scss" scoped>

</style>
