/**
 * Globals
 */
.border-black {
	border: 1px solid #000;
}
.center-div {
    margin-left: auto;
    margin-right: auto;
    
}
.headify {
    margin-left:4% ;
}
.bullet {
    border-left-color: $gold;
    border-left-style: groove;
    border-left-width: .2em;
    padding-left: .6em;
}